
.bg-cover {
    background-repeat: no-repeat;
    background-position:center;
    background-size: 75%;
    height: 60vh;
    background-image : url("./assets/iniWebsiteBrain.jpg");
    display: flex; 
    justify-content: center; 
    align-items: center;
    
}

.blur {
    top: 50%;
    box-shadow: 0 0 5px 0;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, .15); 
    text-align: center;
    
}

.arrow {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
  
  .left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }