body {
    background-color: black;

}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    border-bottom: 1px solid white;
    z-index: 100;
    height: 70px;
}

p {
    color: white;
    text-align: justify;
}

h1,
h2,
h3 {
    color: #D4AC0D;
    text-align: left;
}

.navbar-title {
    position: absolute;
    width: 55%;
    left: 27.5%;
    color: #D4AC0D;
}




.title-text {
    font-size: 28px;
    font-weight: bold;
    color: #D4AC0D;
    text-align: center !important;
}





#sidebar {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 150px;
    left: 0;
    /* margin: 1%; */
    padding-left: 1%;
    padding-right: 1%;
}

.toc ul {
    list-style-type: none;
    padding-inline-start: 10px;
}

.toc li {
    padding-top: 10px;
}

.toc a.selected {
    color: aliceblue
}

#all_posts ul {
    list-style-type: none;
    padding-inline-start: 10px;
}

#all_posts li {
    padding-top: 10px;
}

#all_posts a.disabled {
    color: white;
}


ul.posts a.selected {
    color: aliceblue
}

#content-container {
    width: 55%;
    position: absolute;
    top: 100px;
    left: 21%;
    margin: 0.5%;
}

#all_posts {
    width: 20%;
    height: 100%;
    position: fixed;
    top: 150px;
    right: 0;
    margin: 1%
}

#content-container h1 {
    text-align: left;
    padding-top: 40px;
}

#content-container figcaption {
   text-align: center;
   color: white;
}

#content-container figure {
    margin: 30px 10px;
    width: fit-content;
}

#content-container figure img {
    /* width: inherit; */
    width: auto;
    max-width: 100%;
}


#content-container h2 {
    text-align: left;
    padding-top: 40px;
}

#content-container h3 {
    text-align: left;
    padding-top: 40px;
}

#content-container h4 {
    text-align: left;
}



.pages p {
    padding-left: 40px;
}

li {
    color: white;
    font-size: 16px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.container_1 {
    height: 90px;
    margin-top: -90px;
    display: block;
    visibility: hidden;
}

/* 
.pages {
    padding-bottom: 40px;
}

.pages h2 a {
    font-size: xx-large;
}

#content-container .pages h2 {
    padding: 0;
} */